$clr-very-dark-blue: hsl(229, 91%, 13%);
$clr-dark-blue: hsl(229, 57%, 25%);
$clr-mid-blue: hsl(204, 64%, 57%);
$clr-light-blue: hsl(199, 77%, 54%);
$clr-off-white: hsl(220, 100%, 99%);
$clr-dark-gray: hsl(212, 8%, 36%);
$clr-light-gray: hsl(228, 45%, 98%);
$clr-dark-pink: hsl(336, 69%, 54%);

$font: "Roboto", sans-serif;
